.contact {
    font-size: 2.4rem;
    padding: 0.8rem;
    text-align: center;

    p {
        text-align: center;
        font-size: 3.6rem;
        transition: all 0.5s;

        :hover {
            color: blue;
        }
        :active {
            color: darkviolet;
        }
    }
}
