.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.desktop {
    width: 100vw;
    height: 100vh;
    position: relative;
    // background-color: antiquewhite;
    overflow: hidden;
}

.window {
    border: 2px solid black;
    background-color: whitesmoke;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.contact {
}

.aboutme {
    font-size: 2.4rem;
    padding: 0.8rem;
    overflow-y: scroll;
}

.help {
    font-size: 2.4rem;
    padding: 0.8rem;
    overflow-y: scroll;
}

.myworks {
    font-size: 2.4rem;
    padding: 0.8rem;
    overflow-y: scroll;
    h2 {
        // color: rgb(5, 103, 105);
    }
    a {
        display: block;
        color: blue;
        text-decoration: underline;
        padding: 0.8rem 0rem;
    }
}

.certificate {
    font-size: 2.4rem;
    padding: 0.8rem;
    overflow-y: scroll;

    h5 {
        margin: 0.8rem 0rem;
    }
    a {
        display: block;
        color: blue;
        text-decoration: underline;
        padding: 0.8rem 0rem;
    }
}
.header {
    composes: noselect;
    touch-action: none;
    display: flex;
    background-image: repeating-linear-gradient(
        45deg,
        currentColor,
        currentColor 2px,
        transparent 0,
        transparent 50%
    );
    background-size: 0.8rem 0.8rem;
    justify-content: space-between;
    align-items: center;
    font-size: 2.4rem;
    border-bottom: 2px solid black;

    div {
        display: flex;
        justify-content: space-between;
        gap: 1.4rem;
        padding: 0.8rem;
        background-color: white;
    }
    p {
        padding: 0.4rem;
        margin: 0rem;
        font-weight: 500;
        background-color: white;
    }
}

.move_icon {
    touch-action: none;
    :hover {
        color: blue;
    }
}
